body {
  width: 96vw;
  margin: auto;
  background-color: rgb(229, 255, 242);
  overflow: hidden;
}

@media (min-screen-width: 768px) {
  body {
    padding-top: 2vh;
  }

  .flower {
    font-size: 0.3em;
  }
}

#topbar {
  display: flex;
  justify-content: space-between;
}

#nConnections {
  padding: 1em;
  font-size: 3em;
  border-bottom-left-radius: 10px;
  box-shadow: -3px 3px 5px -2px gray;
}

#clear {
  padding: 1em;
  font-size: 3em;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 5px -2px gray;
}

.flower {
  position: absolute;
  font-size: 6em;
  margin: -63px -48px;
}